/* FontAwesome Icons */
@import url("https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.7.2/css/all.min.css");
/* Google Fonts */
@import url("https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Ubuntu", sans-serif;
}
html,
body {
  height: 100%;
}
body {
  display: flex;
  justify-content: center;
  align-items: center;
}
:root {
  --mainBoxBG: #f6f6f6;
  --fontColor: #000;
  --buttonColor: rgba(0, 0, 255, 0.781);
  --white: #fff;
  --inputField: #ccccff;
}
.darkMode {
  --mainBoxBG: #2f3542;
  --fontColor: #fff;
  --buttonColor: #fff;
  --white: #000;
  --inputField: #fff;
}
#mainBox {
  width: 100%;
  max-width: 420px;
  border-radius: 8px;
  background: var(--mainBoxBG);
  padding: 16px;
}
#mainBox .heading {
  text-align: center;
  margin-bottom: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
}
#mainBox .heading h3 {
  text-align: center;
  font-size: 24px;
  color: var(--fontColor);
  width: 90%;
}
#mainBox .heading h3 span {
  border-bottom: 2px dashed cyan;
}
#mainBox .heading h3 span .fa-heart {
  color: red;
  font-size: 17px;
  margin: 0 1px;
}
#mainBox .heading #toggleIcon {
  width: 10%;
  font-size: 25px;
  cursor: pointer;
}
#captureArea {
  padding: 4px;
}
#mainBox .form form label {
  display: block;
  font-size: 20px;
  font-weight: 800;
  color: var(--fontColor);
}
#mainBox .form form input[type="text"] {
  padding: 6px 10px;
  outline: 0;
  border: 0;
  border-radius: 8px;
  width: 100%;
  background: var(--inputField);
  color: black;
  font-size: 16px;
  margin-bottom: 5px;
}
#mainBox .form form input::placeholder {
  color: black;
  font-size: 16px;
}
#mainBox .form form .gender {
  background: #ccccff;
  border-radius: 8px;
  padding: 2px 5px;
}

#mainBox .form h2 {
  color: var(--fontColor);
  padding: 8px 10px;
  font-size: 25px;
  text-align: center;
  margin-top: 5px;
}
#mainBox .form p {
  color: var(--fontColor);
  text-align: justify;
}
#mainBox .form p::selection {
  background: yellow;
}
#mainBox .form .footer .action {
  justify-content: space-around;
  align-items: center;
  padding: 5px 10px;
  display: none;
}
#mainBox .form .footer .action button {
  background-color: rgba(0, 255, 255, 0.527);
  font-size: 16px;
  font-weight: normal;
  color: var(--fontColor);
}
#mainBox .form .footer button {
  display: block;
  margin: 10px auto 0;
  border: 0;
  border-radius: 8px;
  padding: 8px 15px;
  background: var(--buttonColor);
  font-size: 16px;
  font-weight: bolder;
  color: var(--white);
  cursor: pointer;
}
#mainBox .form .footer button:active {
  background-color: red;
  color: white;
}
